.noScroll {
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  row-gap: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.spacer {
  height: 10rem;
}
.container h1 {
  margin-block: 5rem 3rem;
  font-size: 6rem;
  font-family: "Cooper", serif;
  cursor: none;
}
.container h2 {
  font-size: 1.8rem;
  font-weight: normal;
  /* text-decoration: underline; */
  margin: 0;
}
.container h2.tour {
  margin-bottom: 0.4em;
}
.container hr {
  width: 0;
  border: 0;
  margin: 2rem 0;
}
.container a:visited,
.container a:hover,
.container a:active,
.container a {
  color: inherit;
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
  text-decoration-color: darkorchid;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 0.2em;
}
.container .nav a:hover {
  text-decoration-color: inherit;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2em;
}
.releases {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}
ul.shows {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
iframe.old {
  position: relative;
  margin-top: 2rem;
  left: 10%;
  transform: rotate3d(1, 1, 1, -45deg);
  z-index: 0;
}
@media (min-width: 1024px) {
  iframe.old {
    position: relative;
    margin-top: -8rem;
    left: -9%;
    transform: rotate3d(1, 1, 1, -45deg);
    z-index: 0;
    /* justify-self: end; */
    align-self: end;
  }
}
@media (max-width: 768px) {
  .container {
    font-size: 1.5rem;
    padding-top: 0;
  }
  .container h1 {
    font-size: 12vw;
    font-size: min(4rem, 12vw);
  }
  iframe.old {
    position: relative;
    top: 67%;
    right: -13%;
    height: 10rem;
  }
}

.newsletter h2 {
  font: inherit;
  line-height: inherit;
  text-decoration: inherit;
  margin: 0;
}
.newsletter {
  display: grid;
  grid-template: 1fr / 1fr;
  width: min(16em, 94vw);
}
.newsletter.active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  z-index: 1;
}
.newsletter.active > form {
  position: relative;
  /* background-color: white; */
  /* color: black; */
  display: grid;
  justify-content: center;
  align-items: center;
}
.newsletter.active > * {
  z-index: 1;
}
.newsletter.active > form::before {
  content: "";
  /* background-color: white; */
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  z-index: -1;
}
.newsletter.active h2 {
  display: none;
}
.newsletter > * {
  grid-area: 1 / 1;
  opacity: 1;
}
.newsletter > *[aria-hidden="true"] {
  opacity: 0;
  pointer-events: none;
}
.newsletter p.error[aria-hidden="true"] {
  display: none;
}
.newsletter > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: lightseagreen;
}
.newsletter > p.error {
  background-color: orangered;
}
.newsletter > form.loading {
  opacity: 0.5;
}

.newsletter > form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
}
.newsletter fieldset {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  justify-content: space-between;
}
.newsletter input[name="email"],
.newsletter button {
  margin: 0;
  padding: 0;
  border: 0;
  height: 2.6rem;
  background: transparent;
  color: inherit;
  font-size: inherit;
}
.newsletter input[name="email"]::placeholder {
  color: inherit;
}
.newsletter input[name="email"] {
  width: 6.5em;
  color: grey;
}
.newsletter.active input[name="email"] {
  width: 12em;
}
.newsletter input[name="email"]:active,
.newsletter input[name="email"]:focus-visible,
.newsletter input[name="email"]:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}
.newsletter button:hover {
  background: #fff !important;
  outline: 2px solid white;
  color: #000;
  cursor: pointer;
}

.newsletter .captcha {
  margin-block: 1.6rem;
}

.newsletter .captcha button.submit {
  margin-top: 1em;
  padding: 0.5em 1em;
  height: auto;
  background-color: lightseagreen;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 1.3rem;
    row-gap: 0.2rem;
  }
  .container h1 {
    font-size: 2.5rem;
  }
  .container h2 {
    font-size: 1.5rem;
  }
  .container hr {
    margin: 1.5rem 0;
  }
}
