.container {
  font-family: Courier, monospace;
  padding: 0.5rem;
  font-size: 0.8em;
  background-color: var(--color-bg);
  color: var(--color-fg);
  text-align: left;
  display: block;
  font-size: 1rem;
  padding-inline: 3vw;
}
.container h1 {
  font-family: Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
}
.content {
  white-space: pre;
  line-height: 130%;
  text-wrap: wrap;
}
.container button {
  appearance: none;
  border: 0;
  outline: none;
  background: none;
  cursor: pointer;
}
