.container[data-layout-type="white"] {
  background-color: white;
  color: black;
}
.container[data-layout-type="black"] {
  background-color: black;
  color: white;
}

.container main {
  min-height: 100vh;
}

.container footer {
  position: relative;
  z-index: 1;
  padding: 1rem;
  padding-top: 4rem;
  color: #aaa;
  display: flex;
  width: 100%;
  gap: 1rem;
}
@media (max-width: 768px) {
  .container[data-layout-center="true"] footer {
    justify-content: center;
  }
}

.container footer a:visited,
.container footer a:active,
.container footer a {
  color: inherit;
}
