.container {
  align-items: center;
  min-height: 100vh;
  row-gap: 1rem;
  transition: color 4s;
  padding: 3vw;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container h1 {
  font-size: 6rem;
  font-family: "Cooper", serif;
}
.container a:visited,
.container a:hover,
.container a:active,
.container a {
  color: inherit;
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .container main {
    font-size: 1.5rem;
    padding-top: 0;
  }
  .container h1 {
    font-size: 12vw;
    font-size: min(4rem, 12vw);
  }
}
